In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.set_option('display.max_columns', 40)

# Data 2002

The 2002 and 2007 files have similar formats, with 17 rows that first explicit the column names ans the actual data starting from row 18.

I'll import them first and move on to the next years afterwards.

In [3]:
# 2002 - get 17 first rows of the file
data_2002_column_names = pd.read_csv('2002-resultats-par-bureaux-de-vote.csv', nrows=17, encoding='ANSI', header=None )
data_2002_column_names

                                                    0
0   --  Résultats par bureau de vote Présidentiell...
1                                                  --
2                                                 --
3                               -- Champ 1  : N° tour
4                      -- Champ 2  : Code département
5                          -- Champ 3  : Code commune
6                     -- Champ 4  : Nom de la commune
7                  -- Champ 5  : N° de bureau de vote
8                             -- Champ 6  : Inscrits
9                              -- Champ 7  : Votants
10                             -- Champ 8  : Exprimés
11              -- Champ 9  : N° de dépôt du candidat
12                      -- Champ 10 : Nom du candidat
13                   -- Champ 11 : Prénom du candidat
14              -- Champ 12 : Code sigle du candidat
15           -- Champ 13 : Nombre de voix du candidat
16                                                --

In [4]:
data_2002_column_names = data_2002_column_names.drop([0, 1, 2,16], axis=0)
data_2002_column_names

                                           0
3                      -- Champ 1  : N° tour
4             -- Champ 2  : Code département
5                 -- Champ 3  : Code commune
6            -- Champ 4  : Nom de la commune
7         -- Champ 5  : N° de bureau de vote
8                    -- Champ 6  : Inscrits
9                     -- Champ 7  : Votants
10                    -- Champ 8  : Exprimés
11     -- Champ 9  : N° de dépôt du candidat
12             -- Champ 10 : Nom du candidat
13          -- Champ 11 : Prénom du candidat
14     -- Champ 12 : Code sigle du candidat
15  -- Champ 13 : Nombre de voix du candidat

In [5]:
pattern_to_remove = '--(.*) \: '
data_2002_column_names[0] = data_2002_column_names[0].apply(lambda x: re.sub(pattern_to_remove,'',x))
data_2002_column_names

                             0
3                      N° tour
4             Code département
5                 Code commune
6            Nom de la commune
7         N° de bureau de vote
8                    Inscrits
9                     Votants
10                    Exprimés
11     N° de dépôt du candidat
12             Nom du candidat
13          Prénom du candidat
14     Code sigle du candidat
15  Nombre de voix du candidat

In [6]:
data_2002_column_names = list(data_2002_column_names[0])

In [7]:
data_2002 = pd.read_csv('2002-resultats-par-bureaux-de-vote.csv', skiprows=17, encoding='ANSI', header=None, sep=";" , dtype = {0:int, 1:str, 2:int, 3:str, 4:str, 5:str, 6:int, 7:int, 8:int, 9:str, 10:str, 11:str, 12:int})
data_2002

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,1,MEGRET,BRUNO,MEGR,14
1,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,2,LEPAGE,CORINNE,LEPA,9
2,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,3,GLUCKSTEIN,DANIEL,GLUC,1
3,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,4,BAYROU,FRANCOIS,BAYR,30
4,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,5,CHIRAC,JACQUES,CHIR,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154533,2,ZD,424,Cilaos,0006,503,335,316,6,LE PEN,JEAN-MARIE,LEPE,17
1154534,2,ZD,424,Cilaos,0007,773,547,541,5,CHIRAC,JACQUES,CHIR,506
1154535,2,ZD,424,Cilaos,0007,773,547,541,6,LE PEN,JEAN-MARIE,LEPE,35
1154536,2,ZD,424,Cilaos,0008,554,369,359,5,CHIRAC,JACQUES,CHIR,346
1154537,2,ZD,424,Cilaos,0008,554,369,359,6,LE PEN,JEAN-MARIE,LEPE,13

In [8]:
data_2002.columns = data_2002_column_names
data_2002

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Code sigle du candidat,Nombre de voix du candidat
0,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,1,MEGRET,BRUNO,MEGR,14
1,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,2,LEPAGE,CORINNE,LEPA,9
2,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,3,GLUCKSTEIN,DANIEL,GLUC,1
3,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,4,BAYROU,FRANCOIS,BAYR,30
4,1,01,1,L'Abergement-Clémenciat,0001,563,442,427,5,CHIRAC,JACQUES,CHIR,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154533,2,ZD,424,Cilaos,0006,503,335,316,6,LE PEN,JEAN-MARIE,LEPE,17
1154534,2,ZD,424,Cilaos,0007,773,547,541,5,CHIRAC,JACQUES,CHIR,506
1154535,2,ZD,424,Cilaos,0007,773,547,541,6,LE PEN,JEAN-MARIE,LEPE,35
1154536,2,ZD,424,Cilaos,0008,554,369,359,5,CHIRAC,JACQUES,CHIR,346
1154537,2,ZD,424,Cilaos,0008,554,369,359,6,LE PEN,JEAN-MARIE,LEPE,13

Let's transform the numeric department codes in integers instead of '01' like strings

In [9]:
def MakeInt(s):
    try: 
        int(s)
        return int(s)
    except ValueError:
        return s

In [10]:
data_2002['Code département'] = data_2002['Code département'].apply(MakeInt)
data_2002['Code département']

0           1
1           1
2           1
3           1
4           1
           ..
1154533    ZD
1154534    ZD
1154535    ZD
1154536    ZD
1154537    ZD
Name: Code département, Length: 1154538, dtype: object

In [11]:
data_2002['N° de bureau de vote'] = data_2002['N° de bureau de vote'].apply(MakeInt)
data_2002['N° de bureau de vote']

0          1
1          1
2          1
3          1
4          1
          ..
1154533    6
1154534    7
1154535    7
1154536    8
1154537    8
Name: N° de bureau de vote, Length: 1154538, dtype: object

In [12]:
list(data_2002['N° de bureau de vote'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 251,
 252,
 253,
 254,
 255,
 281,
 301,
 302,
 303,
 351,
 352,
 353,
 354,
 356,
 357,
 358,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 401,
 402,
 404,
 406,
 407,
 408,
 409,
 410,
 421,
 422,
 424,
 425,
 426,
 427,
 428,
 441,
 442,
 443,
 451,
 452,
 453,
 454,
 455,
 456,
 471,
 473,
 474,
 475,
 491,
 501,
 502,
 504,
 505,
 506,
 508,
 510,
 511,
 512,
 513,
 514,
 515,
 551,
 552,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 563,
 601,
 603,
 604,
 605,
 607,
 608,
 609,
 611,
 613,
 621,
 622,
 625,
 641,
 651,
 652,
 661,
 662,
 663,
 664,
 671,
 672,
 673,
 674,
 701,
 702,
 703,
 721,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 831,
 832,
 833,
 834,
 835,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 901,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 934,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 976,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1021,
 1041,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1075,
 1076,
 1077,
 1078,
 1079,
 1101,
 1102,
 1103,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1174,
 1175,
 1176,
 1177,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1221,
 1241,
 1242,
 1243,
 1244,
 1245,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1331,
 1332,
 1333,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 1401,
 1402,
 1404,
 1405,
 1407,
 1408,
 1409,
 1410,
 1411,
 1414,
 1415,
 1416,
 1417,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1501,
 1503,
 1504,
 1505,
 1507,
 1508,
 1531,
 1532,
 1533,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1571,
 1572,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1601,
 1602,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 '01.1',
 '02.1',
 '02.2',
 '03.1',
 '03.2',
 '03.3',
 '04.1',
 '04.2',
 '04.3',
 '04.4',
 '05.1',
 '05.2',
 '05.3',
 '06.1',
 '06.2',
 '07.1',
 '07.2',
 '07.3',
 '08.1',
 '09.1',
 '09.2',
 '09.3',
 '10.1',
 '10.2',
 '10.3',
 '11.1',
 '12.1',
 '13.1',
 '13.2',
 '13.3',
 '14.1',
 '14.2',
 '15.1',
 '16.1',
 '16.2',
 '16.3',
 '16.4',
 '17.1',
 '17.2',
 '17.3',
 '18.1',
 '18.2',
 '18.3',
 '19.1',
 '19.2',
 '19.3',
 '19.4',
 '20.1',
 '20.2',
 '21.1',
 '21.2',
 '21.3',
 '22.1',
 '22.2',
 '22.3',
 '23.1',
 '23.2',
 '23.3',
 304,
 305,
 306,
 307,
 308,
 403,
 405,
 411,
 412,
 413,
 503,
 507,
 509,
 602,
 606,
 '0A01',
 '0A02',
 '0A03',
 '0A11',
 '0A21',
 '0B11',
 '0C11',
 '0C21',
 '0D11',
 '0D21',
 '0E11',
 '0E21',
 '0E31',
 '0E41',
 '0F11',
 '0F21',
 '0F31',
 '0G11',
 '0G21',
 '0H11',
 '0H21',
 '001A',
 '001B',
 '002A',
 '002B',
 310,
 311,
 '049A',
 '056A',
 '108A',
 '113A',
 '134A',
 '138A',
 '174A',
 '191A',
 '193A',
 '195A',
 '200A',
 '201A',
 '203A',
 '221A',
 271,
 272,
 273,
 274,
 275,
 276,
 282,
 312,
 313,
 314,
 321,
 322,
 331,
 332,
 333,
 334,
 341,
 342,
 343,
 423,
 521,
 522,
 531,
 532,
 533,
 631,
 632,
 642,
 653,
 654,
 711,
 712,
 722,
 723,
 724,
 725,
 726,
 731,
 732,
 733,
 309,
 315,
 316,
 317,
 318,
 319,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 516,
 517,
 518,
 610,
 612,
 614,
 615,
 616,
 617,
 618,
 619,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 713,
 714,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 '0N07',
 '0N08',
 '0N15',
 '0N16',
 '0S01',
 '0S02',
 '0S03',
 '0S04',
 '0S05',
 '0S06',
 '0S09',
 '0S10',
 '0S11',
 '0S12',
 '0S13',
 '0S14',
 '0S18',
 '0S19',
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 620,
 623,
 624,
 626,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 270,
 277,
 278,
 279,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 1009,
 1010,
 1011,
 1012,
 1013,
 320,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 335,
 336,
 337,
 338,
 339,
 340,
 344,
 345,
 346,
 519,
 520,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 627,
 628,
 629,
 630,
 633,
 634,
 715,
 716,
 717,
 718,
 719,
 720,
 727,
 728,
 729,
 730,
 827,
 828,
 829,
 830,
 836,
 837,
 838,
 839,
 840,
 ...]

In [13]:
data_2002[data_2002['N° de bureau de vote'] == '01.1']

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Code sigle du candidat,Nombre de voix du candidat
121936,1,14,118,Caen,01.1,1112,789,770,1,MEGRET,BRUNO,MEGR,5
121937,1,14,118,Caen,01.1,1112,789,770,2,LEPAGE,CORINNE,LEPA,20
121938,1,14,118,Caen,01.1,1112,789,770,3,GLUCKSTEIN,DANIEL,GLUC,6
121939,1,14,118,Caen,01.1,1112,789,770,4,BAYROU,FRANCOIS,BAYR,50
121940,1,14,118,Caen,01.1,1112,789,770,5,CHIRAC,JACQUES,CHIR,157
121941,1,14,118,Caen,01.1,1112,789,770,6,LE PEN,JEAN-MARIE,LEPE,49
121942,1,14,118,Caen,01.1,1112,789,770,7,TAUBIRA,CHRISTIANE,TAUB,28
121943,1,14,118,Caen,01.1,1112,789,770,8,SAINT-JOSSE,JEAN,SAIN,12
121944,1,14,118,Caen,01.1,1112,789,770,9,MAMERE,NOEL,MAME,60
121945,1,14,118,Caen,01.1,1112,789,770,10,JOSPIN,LIONEL,JOSP,160
121946,1,14,118,Caen,01.1,1112,789,770,11,BOUTIN,CHRISTINE,BOUT,24
121947,1,14,118,Caen,01.1,1112,789,770,12,HUE,ROBERT,HUE,10
121948,1,14,118,Caen,01.1,1112,789,770,13,CHEVENEMENT,JEAN-PIERRE,CHEV,56
121949,1,14,118,Caen,01.1,1112,789,770,14,MADELIN,ALAIN,MADE,40
121950,1,14,118,Caen,01.1,1112,789,770,15,LAGUILLER,ARLETTE,LAGU,35
121951,1,14,118,Caen,01.1,1112,789,770,16,BESANCENOT,OLIVIER,BESA,58
1041498,2,14,118,Caen,01.1,1112,893,864,5,CHIRAC,JACQUES,CHIR,797
1041499,2,14,118,Caen,01.1,1112,893,864,6,LE PEN,JEAN-MARIE,LEPE,67

In [14]:
data_2002.isna().sum()

N° tour                       0
Code département              0
Code commune                  0
Nom de la commune             0
N° de bureau de vote          0
Inscrits                      0
Votants                       0
Exprimés                      0
N° de dépôt du candidat       0
Nom du candidat               0
Prénom du candidat            0
Code sigle du candidat        0
Nombre de voix du candidat    0
dtype: int64

# Data 2007

In [15]:
# 2007 - get 17 first rows of the file
data_2007_column_names = pd.read_csv('2002-resultats-par-bureaux-de-vote.csv', nrows=17, encoding='ANSI', header=None )
data_2007_column_names

                                                    0
0   --  Résultats par bureau de vote Présidentiell...
1                                                  --
2                                                 --
3                               -- Champ 1  : N° tour
4                      -- Champ 2  : Code département
5                          -- Champ 3  : Code commune
6                     -- Champ 4  : Nom de la commune
7                  -- Champ 5  : N° de bureau de vote
8                             -- Champ 6  : Inscrits
9                              -- Champ 7  : Votants
10                             -- Champ 8  : Exprimés
11              -- Champ 9  : N° de dépôt du candidat
12                      -- Champ 10 : Nom du candidat
13                   -- Champ 11 : Prénom du candidat
14              -- Champ 12 : Code sigle du candidat
15           -- Champ 13 : Nombre de voix du candidat
16                                                --

In [16]:
data_2007_column_names = data_2007_column_names.drop([0, 1, 2,16], axis=0)
data_2007_column_names[0] = data_2007_column_names[0].apply(lambda x: re.sub(pattern_to_remove,'',x))
data_2007_column_names = list(data_2007_column_names[0])

In [17]:
data_2007 = pd.read_csv('2007-resultats-par-bureaux-de-vote.csv', skiprows=17, encoding='ANSI', header=None, sep=";" , dtype = {0:int, 1:str, 2:int, 3:str, 4:str, 5:str, 6:int, 7:int, 8:int, 9:str, 10:str, 11:str, 12:int})
data_2007.columns = data_2007_column_names
data_2007

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Code sigle du candidat,Nombre de voix du candidat
0,1,01,1,L'Abergement-Clémenciat,0001,596,528,522,5,BOVÉ,José,BOVE,5
1,1,01,1,L'Abergement-Clémenciat,0001,596,528,522,2,BUFFET,Marie-George,BUFF,3
2,1,01,1,L'Abergement-Clémenciat,0001,596,528,522,3,SCHIVARDI,Gérard,SCHI,1
3,1,01,1,L'Abergement-Clémenciat,0001,596,528,522,11,LAGUILLER,Arlette,LAGU,6
4,1,01,1,L'Abergement-Clémenciat,0001,596,528,522,7,de VILLIERS,Philippe,VILL,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
918633,2,ZM,517,TSINGONI,0073,694,296,293,12,SARKOZY,Nicolas,SARK,143
918634,2,ZM,517,TSINGONI,0074,635,236,231,8,ROYAL,Ségolène,ROYA,142
918635,2,ZM,517,TSINGONI,0074,635,236,231,12,SARKOZY,Nicolas,SARK,89
918636,2,ZM,517,TSINGONI,0099,175,89,88,8,ROYAL,Ségolène,ROYA,55
918637,2,ZM,517,TSINGONI,0099,175,89,88,12,SARKOZY,Nicolas,SARK,33

In [18]:
data_2007['Code département'] = data_2007['Code département'].apply(MakeInt)
data_2007['Code département']

0          1
1          1
2          1
3          1
4          1
          ..
918633    ZM
918634    ZM
918635    ZM
918636    ZM
918637    ZM
Name: Code département, Length: 918638, dtype: object

In [19]:
data_2007['N° de bureau de vote'] = data_2007['N° de bureau de vote'].apply(MakeInt)
data_2007['N° de bureau de vote']

0          1
1          1
2          1
3          1
4          1
          ..
918633    73
918634    74
918635    74
918636    99
918637    99
Name: N° de bureau de vote, Length: 918638, dtype: object

# Data 2012

The format here is different : there is no empty rows at the start of the file, but there is also no header, and the file has two columns than the 2002 or 2007 data_sets.

By looking at the file in Excel, I could determine that the columns with indexes 4 and 5 are the extra columns. The other ones keep the same order as for 2002 and 2007.

In [20]:
data_2012 = pd.read_csv('2012-resultats-par-bureaux-de-vote.csv', encoding='ANSI', header=None, sep=";")
data_2012 = data_2012.drop([4,5], axis=1)
data_2012.columns = data_2007_column_names
data_2012

C:\Users\ebour\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Code sigle du candidat,Nombre de voix du candidat
0,1,ZA,101,Les Abymes,1,476,266,249,2,JOLY,Eva,JOLY,7
1,1,ZA,101,Les Abymes,1,476,266,249,3,LE PEN,Marine,LEPE,12
2,1,ZA,101,Les Abymes,1,476,266,249,4,SARKOZY,Nicolas,SARK,50
3,1,ZA,101,Les Abymes,1,476,266,249,5,MÉLENCHON,Jean-Luc,MELE,11
4,1,ZA,101,Les Abymes,1,476,266,249,9,BAYROU,François,BAYR,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
815179,2,95,680,Villiers-le-Bel,13,655,490,469,11,HOLLANDE,François,HOLL,392
815180,2,95,682,Villiers-le-Sec,1,95,87,83,4,SARKOZY,Nicolas,SARK,42
815181,2,95,682,Villiers-le-Sec,1,95,87,83,11,HOLLANDE,François,HOLL,41
815182,2,95,690,Wy-dit-Joli-Village,1,279,249,240,4,SARKOZY,Nicolas,SARK,150
815183,2,95,690,Wy-dit-Joli-Village,1,279,249,240,11,HOLLANDE,François,HOLL,90

In [21]:
# Make sure that all department codes are integers when they do not contain letters
data_2012['Code département'] = data_2012['Code département'].apply(MakeInt)
data_2012['Code département']

0         ZA
1         ZA
2         ZA
3         ZA
4         ZA
          ..
815179    95
815180    95
815181    95
815182    95
815183    95
Name: Code département, Length: 815184, dtype: object

In [22]:
data_2012['N° de bureau de vote'] = data_2012['N° de bureau de vote'].apply(MakeInt)
data_2012['N° de bureau de vote']

0          1
1          1
2          1
3          1
4          1
          ..
815179    13
815180     1
815181     1
815182     1
815183     1
Name: N° de bureau de vote, Length: 815184, dtype: object

# Data 2017

For 2017, the data comes in two separate files, one for each round of the election. Their format is again different than the one I have seen for the previous years :
- a first row shows headers for the 21st columns
- the following columns are to be taken together by groups of 7 and their headers are only mentioned once, which breaks down the automated csv upload by pandas.

In the end, I thus must duplicate each row a few times and adjust the info in columns 22 to 28 will for each duplication:
- 1st row will contain the info of original 22nd to 28th columns
- 2nd row will contain the info of original 29th to 35th columns
- and so on...

In [23]:
data_2017_round_1_columns = pd.read_csv('2017-resultats-definitifs-du-1er-tour-par-bureaux-de-vote.csv', encoding='ANSI', nrows=1, sep=";", header=None)
data_2017_round_1_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27
0,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp

In [24]:
data_2017_round_1_columns_names = data_2017_round_1_columns.values.tolist()[0]
data_2017_round_1_columns_names

['Code du département',
 'Libellé du département',
 'Code de la circonscription',
 'Libellé de la circonscription',
 'Code de la commune',
 'Libellé de la commune',
 'Code du b.vote',
 'Inscrits',
 'Abstentions',
 '% Abs/Ins',
 'Votants',
 '% Vot/Ins',
 'Blancs',
 '% Blancs/Ins',
 '% Blancs/Vot',
 'Nuls',
 '% Nuls/Ins',
 '% Nuls/Vot',
 'Exprimés',
 '% Exp/Ins',
 '% Exp/Vot',
 'N°Panneau',
 'Sexe',
 'Nom',
 'Prénom',
 'Voix',
 '% Voix/Ins',
 '% Voix/Exp']

In [25]:
data_2017_round_1_brut = pd.read_csv('2017-resultats-definitifs-du-1er-tour-par-bureaux-de-vote.csv', encoding='ANSI', skiprows=1, sep=";", header=None)

C:\Users\ebour\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
data_2017_round_1_brut

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97
0,1,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,1.0,598,92,"15,38",506,"84,62",2,"0,33","0,40",9,"1,51","1,78",495,"82,78",...,M,MÉLENCHON,Jean-Luc,59,"9,87","11,92",10,M,ASSELINEAU,François,6,"1,00","1,21",11,M,FILLON,François,110,"18,39","22,22"
1,1,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,1.0,209,25,"11,96",184,"88,04",6,"2,87","3,26",2,"0,96","1,09",176,"84,21",...,M,MÉLENCHON,Jean-Luc,33,"15,79","18,75",10,M,ASSELINEAU,François,1,"0,48","0,57",11,M,FILLON,François,34,"16,27","19,32"
2,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,1.0,1116,233,"20,88",883,"79,12",17,"1,52","1,93",6,"0,54","0,68",860,"77,06",...,M,MÉLENCHON,Jean-Luc,216,"19,35","25,12",10,M,ASSELINEAU,François,7,"0,63","0,81",11,M,FILLON,François,116,"10,39","13,49"
3,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,2.0,1128,256,"22,70",872,"77,30",19,"1,68","2,18",3,"0,27","0,34",850,"75,35",...,M,MÉLENCHON,Jean-Luc,175,"15,51","20,59",10,M,ASSELINEAU,François,11,"0,98","1,29",11,M,FILLON,François,124,"10,99","14,59"
4,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,3.0,1116,227,"20,34",889,"79,66",11,"0,99","1,24",4,"0,36","0,45",874,"78,32",...,M,MÉLENCHON,Jean-Luc,182,"16,31","20,82",10,M,ASSELINEAU,François,7,"0,63","0,80",11,M,FILLON,François,149,"13,35","17,05"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,129,"34,96",240,"65,04",2,"0,54","0,83",2,"0,54","0,83",236,"63,96",...,M,MÉLENCHON,Jean-Luc,26,"7,05","11,02",10,M,ASSELINEAU,François,3,"0,81","1,27",11,M,FILLON,François,62,"16,80","26,27"
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1514,800,"52,84",714,"47,16",3,"0,20","0,42",0,"0,00","0,00",711,"46,96",...,M,MÉLENCHON,Jean-Luc,131,"8,65","18,42",10,M,ASSELINEAU,François,4,"0,26","0,56",11,M,FILLON,François,197,"13,01","27,71"
69239,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,655,401,"61,22",254,"38,78",2,"0,31","0,79",1,"0,15","0,39",251,"38,32",...,M,MÉLENCHON,Jean-Luc,30,"4,58","11,95",10,M,ASSELINEAU,François,6,"0,92","2,39",11,M,FILLON,François,65,"9,92","25,90"
69240,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21477,11129,"51,82",10348,"48,18",47,"0,22","0,45",58,"0,27","0,56",10243,"47,69",...,M,MÉLENCHON,Jean-Luc,1050,"4,89","10,25",10,M,ASSELINEAU,François,87,"0,41","0,85",11,M,FILLON,François,2893,"13,47","28,24"
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1204,519,"43,11",685,"56,89",8,"0,66","1,17",1,"0,08","0,15",676,"56,15",...,M,MÉLENCHON,Jean-Luc,156,"12,96","23,08",10,M,ASSELINEAU,François,35,"2,91","5,18",11,M,FILLON,François,113,"9,39","16,72"

To handle the data set, I will create subsets each containing the first 21 columns + one of the "7-column" sets. I'll then be able to concatenate these datasets in one big set having all the necessary rows.

After that, I will clean up the columns to keep only the information I need to match the 2002 to 2012 data-sets (having much less columns).

#### Rearranging the data

In [27]:
# Create sub datasets
data_2017_round_1_a = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]].copy()
data_2017_round_1_b = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,28,29,30,31,32,33,34]].copy()
# When concatenating the df, different column indexes (28 instead of 21 for ex.) will not properly be concatenated below
# each other. I thus need to "reset" the column indexes
data_2017_round_1_b.columns = range(28)
data_2017_round_1_c = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,35,36,37,38,39,40,41]].copy()
data_2017_round_1_c.columns = range(28)
data_2017_round_1_d = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,42,43,44,45,46,47,48]].copy()
data_2017_round_1_d.columns = range(28)
data_2017_round_1_e = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,49,50,51,52,53,54,55]].copy()
data_2017_round_1_e.columns = range(28)
data_2017_round_1_f = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,56,57,58,59,60,61,62]].copy()
data_2017_round_1_f.columns = range(28)
data_2017_round_1_g = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,63,64,65,66,67,68,69]].copy()
data_2017_round_1_g.columns = range(28)
data_2017_round_1_h = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,70,71,72,73,74,75,76]].copy()
data_2017_round_1_h.columns = range(28)
data_2017_round_1_i = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,77,78,79,80,81,82,83]].copy()
data_2017_round_1_i.columns = range(28)
data_2017_round_1_j = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,84,85,86,87,88,89,90]].copy()
data_2017_round_1_j.columns = range(28)
data_2017_round_1_k = data_2017_round_1_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,91,92,93,94,95,96,97]].copy()
data_2017_round_1_k.columns = range(28)

# Concatenate the data back together
data_2017_round_1 = pd.concat([data_2017_round_1_a,
                                    data_2017_round_1_b,
                                    data_2017_round_1_c,
                                    data_2017_round_1_d,
                                    data_2017_round_1_e,
                                    data_2017_round_1_f,
                                    data_2017_round_1_g,
                                    data_2017_round_1_h,
                                    data_2017_round_1_i,
                                    data_2017_round_1_j,
                                    data_2017_round_1_k],
                                  axis = 0)

# Allocate correct column names
data_2017_round_1.columns = data_2017_round_1_columns_names

# Look at the result
data_2017_round_1

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp
0,1,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,1.0,598,92,"15,38",506,"84,62",2,"0,33","0,40",9,"1,51","1,78",495,"82,78","97,83",1,M,DUPONT-AIGNAN,Nicolas,34,"5,69","6,87"
1,1,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,1.0,209,25,"11,96",184,"88,04",6,"2,87","3,26",2,"0,96","1,09",176,"84,21","95,65",1,M,DUPONT-AIGNAN,Nicolas,6,"2,87","3,41"
2,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,1.0,1116,233,"20,88",883,"79,12",17,"1,52","1,93",6,"0,54","0,68",860,"77,06","97,40",1,M,DUPONT-AIGNAN,Nicolas,58,"5,20","6,74"
3,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,2.0,1128,256,"22,70",872,"77,30",19,"1,68","2,18",3,"0,27","0,34",850,"75,35","97,48",1,M,DUPONT-AIGNAN,Nicolas,42,"3,72","4,94"
4,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,3.0,1116,227,"20,34",889,"79,66",11,"0,99","1,24",4,"0,36","0,45",874,"78,32","98,31",1,M,DUPONT-AIGNAN,Nicolas,47,"4,21","5,38"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,129,"34,96",240,"65,04",2,"0,54","0,83",2,"0,54","0,83",236,"63,96","98,33",11,M,FILLON,François,62,"16,80","26,27"
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1514,800,"52,84",714,"47,16",3,"0,20","0,42",0,"0,00","0,00",711,"46,96","99,58",11,M,FILLON,François,197,"13,01","27,71"
69239,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,655,401,"61,22",254,"38,78",2,"0,31","0,79",1,"0,15","0,39",251,"38,32","98,82",11,M,FILLON,François,65,"9,92","25,90"
69240,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21477,11129,"51,82",10348,"48,18",47,"0,22","0,45",58,"0,27","0,56",10243,"47,69","98,99",11,M,FILLON,François,2893,"13,47","28,24"
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1204,519,"43,11",685,"56,89",8,"0,66","1,17",1,"0,08","0,15",676,"56,15","98,69",11,M,FILLON,François,113,"9,39","16,72"

#### Cleaning the columns so that they match with former data sets

In [28]:
# Create column to store the election round number
data_2017_round_1['N° tour'] = 1
data_2017_round_1

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp,N° tour
0,1,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,1.0,598,92,"15,38",506,"84,62",2,"0,33","0,40",9,"1,51","1,78",495,"82,78","97,83",1,M,DUPONT-AIGNAN,Nicolas,34,"5,69","6,87",1
1,1,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,1.0,209,25,"11,96",184,"88,04",6,"2,87","3,26",2,"0,96","1,09",176,"84,21","95,65",1,M,DUPONT-AIGNAN,Nicolas,6,"2,87","3,41",1
2,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,1.0,1116,233,"20,88",883,"79,12",17,"1,52","1,93",6,"0,54","0,68",860,"77,06","97,40",1,M,DUPONT-AIGNAN,Nicolas,58,"5,20","6,74",1
3,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,2.0,1128,256,"22,70",872,"77,30",19,"1,68","2,18",3,"0,27","0,34",850,"75,35","97,48",1,M,DUPONT-AIGNAN,Nicolas,42,"3,72","4,94",1
4,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,3.0,1116,227,"20,34",889,"79,66",11,"0,99","1,24",4,"0,36","0,45",874,"78,32","98,31",1,M,DUPONT-AIGNAN,Nicolas,47,"4,21","5,38",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,129,"34,96",240,"65,04",2,"0,54","0,83",2,"0,54","0,83",236,"63,96","98,33",11,M,FILLON,François,62,"16,80","26,27",1
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1514,800,"52,84",714,"47,16",3,"0,20","0,42",0,"0,00","0,00",711,"46,96","99,58",11,M,FILLON,François,197,"13,01","27,71",1
69239,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,655,401,"61,22",254,"38,78",2,"0,31","0,79",1,"0,15","0,39",251,"38,32","98,82",11,M,FILLON,François,65,"9,92","25,90",1
69240,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21477,11129,"51,82",10348,"48,18",47,"0,22","0,45",58,"0,27","0,56",10243,"47,69","98,99",11,M,FILLON,François,2893,"13,47","28,24",1
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1204,519,"43,11",685,"56,89",8,"0,66","1,17",1,"0,08","0,15",676,"56,15","98,69",11,M,FILLON,François,113,"9,39","16,72",1

In [29]:
# resetting indexes
data_2017_round_1 = data_2017_round_1.reset_index(drop=True)
data_2017_round_1

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp,N° tour
0,1,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,1.0,598,92,"15,38",506,"84,62",2,"0,33","0,40",9,"1,51","1,78",495,"82,78","97,83",1,M,DUPONT-AIGNAN,Nicolas,34,"5,69","6,87",1
1,1,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,1.0,209,25,"11,96",184,"88,04",6,"2,87","3,26",2,"0,96","1,09",176,"84,21","95,65",1,M,DUPONT-AIGNAN,Nicolas,6,"2,87","3,41",1
2,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,1.0,1116,233,"20,88",883,"79,12",17,"1,52","1,93",6,"0,54","0,68",860,"77,06","97,40",1,M,DUPONT-AIGNAN,Nicolas,58,"5,20","6,74",1
3,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,2.0,1128,256,"22,70",872,"77,30",19,"1,68","2,18",3,"0,27","0,34",850,"75,35","97,48",1,M,DUPONT-AIGNAN,Nicolas,42,"3,72","4,94",1
4,1,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,3.0,1116,227,"20,34",889,"79,66",11,"0,99","1,24",4,"0,36","0,45",874,"78,32","98,31",1,M,DUPONT-AIGNAN,Nicolas,47,"4,21","5,38",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761657,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,129,"34,96",240,"65,04",2,"0,54","0,83",2,"0,54","0,83",236,"63,96","98,33",11,M,FILLON,François,62,"16,80","26,27",1
761658,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1514,800,"52,84",714,"47,16",3,"0,20","0,42",0,"0,00","0,00",711,"46,96","99,58",11,M,FILLON,François,197,"13,01","27,71",1
761659,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,655,401,"61,22",254,"38,78",2,"0,31","0,79",1,"0,15","0,39",251,"38,32","98,82",11,M,FILLON,François,65,"9,92","25,90",1
761660,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21477,11129,"51,82",10348,"48,18",47,"0,22","0,45",58,"0,27","0,56",10243,"47,69","98,99",11,M,FILLON,François,2893,"13,47","28,24",1
761661,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1204,519,"43,11",685,"56,89",8,"0,66","1,17",1,"0,08","0,15",676,"56,15","98,69",11,M,FILLON,François,113,"9,39","16,72",1

In [30]:
data_2017_round_1.columns

Index(['Code du département', 'Libellé du département',
       'Code de la circonscription', 'Libellé de la circonscription',
       'Code de la commune', 'Libellé de la commune', 'Code du b.vote',
       'Inscrits', 'Abstentions', '% Abs/Ins', 'Votants', '% Vot/Ins',
       'Blancs', '% Blancs/Ins', '% Blancs/Vot', 'Nuls', '% Nuls/Ins',
       '% Nuls/Vot', 'Exprimés', '% Exp/Ins', '% Exp/Vot', 'N°Panneau', 'Sexe',
       'Nom', 'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp', 'N° tour'],
      dtype='object')

In [31]:
data_2012.columns

Index(['N° tour', 'Code département', 'Code commune', 'Nom de la commune',
       'N° de bureau de vote', 'Inscrits ', 'Votants ', 'Exprimés',
       'N° de dépôt du candidat', 'Nom du candidat', 'Prénom du candidat',
       'Code sigle du candidat ', 'Nombre de voix du candidat'],
      dtype='object')

In [32]:
# Before removing the column with the department names (not in former tables), I'll create a dictionary to store the
# departments codes and names (can be useful for presentation puposes to chow names instead of numbers)

data_2017_round_1['Code du département'] = data_2017_round_1['Code du département'].apply(MakeInt)

dpt_dict = {}
for i in range(len(data_2017_round_1['Code du département'])):
    dpt_code = data_2017_round_1['Code du département'][i]
    if dpt_code not in list(dpt_dict):
        dpt_dict[dpt_code] = data_2017_round_1.at[i, 'Libellé du département']

dpt_dict

{1: 'Ain',
 2: 'Aisne',
 3: 'Allier',
 4: 'Alpes-de-Haute-Provence',
 5: 'Hautes-Alpes',
 6: 'Alpes-Maritimes',
 7: 'Ardèche',
 8: 'Ardennes',
 9: 'Ariège',
 10: 'Aube',
 11: 'Aude',
 12: 'Aveyron',
 13: 'Bouches-du-Rhône',
 14: 'Calvados',
 15: 'Cantal',
 16: 'Charente',
 17: 'Charente-Maritime',
 18: 'Cher',
 19: 'Corrèze',
 '2A': 'Corse-du-Sud',
 '2B': 'Haute-Corse',
 21: "Côte-d'Or",
 22: "Côtes-d'Armor",
 23: 'Creuse',
 24: 'Dordogne',
 25: 'Doubs',
 26: 'Drôme',
 27: 'Eure',
 28: 'Eure-et-Loir',
 29: 'Finistère',
 30: 'Gard',
 31: 'Haute-Garonne',
 32: 'Gers',
 33: 'Gironde',
 34: 'Hérault',
 35: 'Ille-et-Vilaine',
 36: 'Indre',
 37: 'Indre-et-Loire',
 38: 'Isère',
 39: 'Jura',
 40: 'Landes',
 41: 'Loir-et-Cher',
 42: 'Loire',
 43: 'Haute-Loire',
 44: 'Loire-Atlantique',
 45: 'Loiret',
 46: 'Lot',
 47: 'Lot-et-Garonne',
 48: 'Lozère',
 49: 'Maine-et-Loire',
 50: 'Manche',
 51: 'Marne',
 52: 'Haute-Marne',
 53: 'Mayenne',
 54: 'Meurthe-et-Moselle',
 55: 'Meuse',
 56: 'Morbihan',
 57: 'Moselle',
 58: 'Nièvre',
 59: 'Nord',
 60: 'Oise',
 61: 'Orne',
 62: 'Pas-de-Calais',
 63: 'Puy-de-Dôme',
 64: 'Pyrénées-Atlantiques',
 65: 'Hautes-Pyrénées',
 66: 'Pyrénées-Orientales',
 67: 'Bas-Rhin',
 68: 'Haut-Rhin',
 69: 'Rhône',
 70: 'Haute-Saône',
 71: 'Saône-et-Loire',
 72: 'Sarthe',
 73: 'Savoie',
 74: 'Haute-Savoie',
 75: 'Paris',
 76: 'Seine-Maritime',
 77: 'Seine-et-Marne',
 78: 'Yvelines',
 79: 'Deux-Sèvres',
 80: 'Somme',
 81: 'Tarn',
 82: 'Tarn-et-Garonne',
 83: 'Var',
 84: 'Vaucluse',
 85: 'Vendée',
 86: 'Vienne',
 87: 'Haute-Vienne',
 88: 'Vosges',
 89: 'Yonne',
 90: 'Territoire de Belfort',
 91: 'Essonne',
 92: 'Hauts-de-Seine',
 93: 'Seine-Saint-Denis',
 94: 'Val-de-Marne',
 95: "Val-d'Oise",
 'ZA': 'Guadeloupe',
 'ZB': 'Martinique',
 'ZC': 'Guyane',
 'ZD': 'La Réunion',
 'ZM': 'Mayotte',
 'ZN': 'Nouvelle-Calédonie',
 'ZP': 'Polynésie française',
 'ZS': 'Saint-Pierre-et-Miquelon',
 'ZW': 'Wallis et Futuna',
 'ZX': 'Saint-Martin/Saint-Barthélemy',
 'ZZ': 'Français établis hors de France'}

In [33]:
# Rename columns that are also in the 2002-2012 datasets
data_2017_round_1 = data_2017_round_1.rename(columns={'Code du département':'Code département',
                                  'Code de la commune':'Code commune',
                                  'Libellé de la commune':'Nom de la commune',
                                  'Code du b.vote':'N° de bureau de vote',
                                  'N°Panneau':'N° de dépôt du candidat',
                                  'Nom':'Nom du candidat',
                                  'Prénom':'Prénom du candidat',
                                  'Voix':'Nombre de voix du candidat',
                                  'Inscrits':'Inscrits ',
                                  'Votants':'Votants '
                                 })

# Drop columns that are not in the 2002-2012 datasets
cols_to_drop = ['Libellé du département',
                'Code de la circonscription',
                'Libellé de la circonscription',
                'Abstentions',
                '% Abs/Ins',
                '% Vot/Ins',
                'Blancs',
                '% Blancs/Ins',
                '% Blancs/Vot',
                'Nuls',
                '% Nuls/Ins',
                '% Nuls/Vot',
                '% Exp/Ins',
                '% Exp/Vot',
                'Sexe',
                '% Voix/Ins',
                '% Voix/Exp'
               ]

data_2017_round_1 = data_2017_round_1.drop(cols_to_drop, axis=1)

In [34]:
data_2017_round_1

,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Nombre de voix du candidat,N° tour
0,1,1,L'Abergement-Clémenciat,1.0,598,506,495,1,DUPONT-AIGNAN,Nicolas,34,1
1,1,2,L'Abergement-de-Varey,1.0,209,184,176,1,DUPONT-AIGNAN,Nicolas,6,1
2,1,4,Ambérieu-en-Bugey,1.0,1116,883,860,1,DUPONT-AIGNAN,Nicolas,58,1
3,1,4,Ambérieu-en-Bugey,2.0,1128,872,850,1,DUPONT-AIGNAN,Nicolas,42,1
4,1,4,Ambérieu-en-Bugey,3.0,1116,889,874,1,DUPONT-AIGNAN,Nicolas,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...
761657,ZZ,226,Wuhan,1,369,240,236,11,FILLON,François,62,1
761658,ZZ,227,Yaounde,1,1514,714,711,11,FILLON,François,197,1
761659,ZZ,228,Zagreb,1,655,254,251,11,FILLON,François,65,1
761660,ZZ,229,Zurich,1,21477,10348,10243,11,FILLON,François,2893,1
761661,ZZ,231,Taipeh,1,1204,685,676,11,FILLON,François,113,1

In [35]:
# I noticed one column in the 2012 that we do not have in 2017 (and that does not add information)
data_2012 = data_2012.drop('Code sigle du candidat ', axis=1)
data_2007 = data_2007.drop('Code sigle du candidat ', axis=1)
data_2002 = data_2002.drop('Code sigle du candidat ', axis=1)

In [36]:
data_2002.dtypes

N° tour                        int32
Code département              object
Code commune                   int32
Nom de la commune             object
N° de bureau de vote          object
Inscrits                      object
Votants                        int32
Exprimés                       int32
N° de dépôt du candidat        int32
Nom du candidat               object
Prénom du candidat            object
Nombre de voix du candidat     int32
dtype: object

In [37]:
data_2007.dtypes

N° tour                        int32
Code département              object
Code commune                   int32
Nom de la commune             object
N° de bureau de vote          object
Inscrits                      object
Votants                        int32
Exprimés                       int32
N° de dépôt du candidat        int32
Nom du candidat               object
Prénom du candidat            object
Nombre de voix du candidat     int32
dtype: object

In [38]:
data_2012.dtypes

N° tour                        int64
Code département              object
Code commune                   int64
Nom de la commune             object
N° de bureau de vote          object
Inscrits                       int64
Votants                        int64
Exprimés                       int64
N° de dépôt du candidat        int64
Nom du candidat               object
Prénom du candidat            object
Nombre de voix du candidat     int64
dtype: object

In [39]:
data_test = pd.concat([data_2002, data_2007, data_2012], axis=0)
data_test

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Nombre de voix du candidat
0,1,1,1,L'Abergement-Clémenciat,1,563,442,427,1,MEGRET,BRUNO,14
1,1,1,1,L'Abergement-Clémenciat,1,563,442,427,2,LEPAGE,CORINNE,9
2,1,1,1,L'Abergement-Clémenciat,1,563,442,427,3,GLUCKSTEIN,DANIEL,1
3,1,1,1,L'Abergement-Clémenciat,1,563,442,427,4,BAYROU,FRANCOIS,30
4,1,1,1,L'Abergement-Clémenciat,1,563,442,427,5,CHIRAC,JACQUES,66
...,...,...,...,...,...,...,...,...,...,...,...,...
815179,2,95,680,Villiers-le-Bel,13,655,490,469,11,HOLLANDE,François,392
815180,2,95,682,Villiers-le-Sec,1,95,87,83,4,SARKOZY,Nicolas,42
815181,2,95,682,Villiers-le-Sec,1,95,87,83,11,HOLLANDE,François,41
815182,2,95,690,Wy-dit-Joli-Village,1,279,249,240,4,SARKOZY,Nicolas,150
815183,2,95,690,Wy-dit-Joli-Village,1,279,249,240,11,HOLLANDE,François,90

In [40]:
# Make sure that all department codes are integers when they do not contain letters
data_2017_round_1['Code département'] = data_2017_round_1['Code département'].apply(MakeInt)
data_2017_round_1['Code département']

0          1
1          1
2          1
3          1
4          1
          ..
761657    ZZ
761658    ZZ
761659    ZZ
761660    ZZ
761661    ZZ
Name: Code département, Length: 761662, dtype: object

# Data 2017 Second round

In [41]:
data_2017_round_2_brut = pd.read_csv('2017-resultats-definitifs-du-2nd-tour-par-bureaux-de-vote.csv', encoding='ANSI', skiprows=1, sep=";", header=None)
data_2017_round_2_brut

C:\Users\ebour\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34
0,01,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,0001,598,100,"16,72",498,"83,28",37,"6,19","7,43",8,"1,34","1,61",453,"75,75","90,96",1,M,MACRON,Emmanuel,272,"45,48","60,04",2,F,LE PEN,Marine,181,"30,27","39,96"
1,01,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,0001,209,32,"15,31",177,"84,69",21,"10,05","11,86",6,"2,87","3,39",150,"71,77","84,75",1,M,MACRON,Emmanuel,93,"44,50","62,00",2,F,LE PEN,Marine,57,"27,27","38,00"
2,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0001,1116,267,"23,92",849,"76,08",90,"8,06","10,60",28,"2,51","3,30",731,"65,50","86,10",1,M,MACRON,Emmanuel,416,"37,28","56,91",2,F,LE PEN,Marine,315,"28,23","43,09"
3,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0002,1128,286,"25,35",842,"74,65",67,"5,94","7,96",34,"3,01","4,04",741,"65,69","88,00",1,M,MACRON,Emmanuel,429,"38,03","57,89",2,F,LE PEN,Marine,312,"27,66","42,11"
4,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0003,1116,252,"22,58",864,"77,42",80,"7,17","9,26",31,"2,78","3,59",753,"67,47","87,15",1,M,MACRON,Emmanuel,453,"40,59","60,16",2,F,LE PEN,Marine,300,"26,88","39,84"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,155,"42,01",214,"57,99",8,"2,17","3,74",2,"0,54","0,93",204,"55,28","95,33",1,M,MACRON,Emmanuel,185,"50,14","90,69",2,F,LE PEN,Marine,19,"5,15","9,31"
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1517,788,"51,94",729,"48,06",35,"2,31","4,80",4,"0,26","0,55",690,"45,48","94,65",1,M,MACRON,Emmanuel,581,"38,30","84,20",2,F,LE PEN,Marine,109,"7,19","15,80"
69239,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,656,411,"62,65",245,"37,35",9,"1,37","3,67",1,"0,15","0,41",235,"35,82","95,92",1,M,MACRON,Emmanuel,182,"27,74","77,45",2,F,LE PEN,Marine,53,"8,08","22,55"
69240,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21488,10241,"47,66",11247,"52,34",303,"1,41","2,69",56,"0,26","0,50",10888,"50,67","96,81",1,M,MACRON,Emmanuel,9776,"45,50","89,79",2,F,LE PEN,Marine,1112,"5,17","10,21"
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1212,573,"47,28",639,"52,72",16,"1,32","2,50",4,"0,33","0,63",619,"51,07","96,87",1,M,MACRON,Emmanuel,532,"43,89","85,95",2,F,LE PEN,Marine,87,"7,18","14,05"

In [42]:
# Create sub datasets
data_2017_round_2_a = data_2017_round_2_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]].copy()
data_2017_round_2_b = data_2017_round_2_brut[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,28,29,30,31,32,33,34]].copy()
# When concatenating the df, different column indexes (28 instead of 21 for ex.) will not properly be concatenated below
# each other. I thus need to "reset" the column indexes
data_2017_round_2_b.columns = range(28)

# Concatenate the data back together
data_2017_round_2 = pd.concat([data_2017_round_2_a,
                                    data_2017_round_2_b],
                                  axis = 0)

# Allocate correct column names
data_2017_round_2.columns = data_2017_round_1_columns_names

# Reset indexes
data_2017_round_2.reset_index(drop=True)

# Create column to store the election round number
data_2017_round_2['N° tour'] = 2

# Look at the result
data_2017_round_2

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp,N° tour
0,01,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,0001,598,100,"16,72",498,"83,28",37,"6,19","7,43",8,"1,34","1,61",453,"75,75","90,96",1,M,MACRON,Emmanuel,272,"45,48","60,04",2
1,01,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,0001,209,32,"15,31",177,"84,69",21,"10,05","11,86",6,"2,87","3,39",150,"71,77","84,75",1,M,MACRON,Emmanuel,93,"44,50","62,00",2
2,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0001,1116,267,"23,92",849,"76,08",90,"8,06","10,60",28,"2,51","3,30",731,"65,50","86,10",1,M,MACRON,Emmanuel,416,"37,28","56,91",2
3,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0002,1128,286,"25,35",842,"74,65",67,"5,94","7,96",34,"3,01","4,04",741,"65,69","88,00",1,M,MACRON,Emmanuel,429,"38,03","57,89",2
4,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0003,1116,252,"22,58",864,"77,42",80,"7,17","9,26",31,"2,78","3,59",753,"67,47","87,15",1,M,MACRON,Emmanuel,453,"40,59","60,16",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,1,369,155,"42,01",214,"57,99",8,"2,17","3,74",2,"0,54","0,93",204,"55,28","95,33",2,F,LE PEN,Marine,19,"5,15","9,31",2
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,1,1517,788,"51,94",729,"48,06",35,"2,31","4,80",4,"0,26","0,55",690,"45,48","94,65",2,F,LE PEN,Marine,109,"7,19","15,80",2
69239,ZZ,Français établis hors de France,7,7ème circonscription,228,Zagreb,1,656,411,"62,65",245,"37,35",9,"1,37","3,67",1,"0,15","0,41",235,"35,82","95,92",2,F,LE PEN,Marine,53,"8,08","22,55",2
69240,ZZ,Français établis hors de France,6,6ème circonscription,229,Zurich,1,21488,10241,"47,66",11247,"52,34",303,"1,41","2,69",56,"0,26","0,50",10888,"50,67","96,81",2,F,LE PEN,Marine,1112,"5,17","10,21",2
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,1,1212,573,"47,28",639,"52,72",16,"1,32","2,50",4,"0,33","0,63",619,"51,07","96,87",2,F,LE PEN,Marine,87,"7,18","14,05",2

In [43]:
# Rename columns that are also in the 2002-2012 datasets
data_2017_round_2 = data_2017_round_2.rename(columns={'Code du département':'Code département',
                                  'Code de la commune':'Code commune',
                                  'Libellé de la commune':'Nom de la commune',
                                  'Code du b.vote':'N° de bureau de vote',
                                  'N°Panneau':'N° de dépôt du candidat',
                                  'Nom':'Nom du candidat',
                                  'Prénom':'Prénom du candidat',
                                  'Voix':'Nombre de voix du candidat',
                                  'Inscrits':'Inscrits ',
                                  'Votants':'Votants '
                                 })

data_2017_round_2 = data_2017_round_2.drop(cols_to_drop, axis=1)

In [44]:
# Make sure that all department codes are integers when they do not contain letters
data_2017_round_2['Code département'] = data_2017_round_2['Code département'].apply(MakeInt)
data_2017_round_2['Code département']

0         1
1         1
2         1
3         1
4         1
         ..
69237    ZZ
69238    ZZ
69239    ZZ
69240    ZZ
69241    ZZ
Name: Code département, Length: 138484, dtype: object

In [45]:
data_2017_round_2

,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Nombre de voix du candidat,N° tour
0,1,1,L'Abergement-Clémenciat,0001,598,498,453,1,MACRON,Emmanuel,272,2
1,1,2,L'Abergement-de-Varey,0001,209,177,150,1,MACRON,Emmanuel,93,2
2,1,4,Ambérieu-en-Bugey,0001,1116,849,731,1,MACRON,Emmanuel,416,2
3,1,4,Ambérieu-en-Bugey,0002,1128,842,741,1,MACRON,Emmanuel,429,2
4,1,4,Ambérieu-en-Bugey,0003,1116,864,753,1,MACRON,Emmanuel,453,2
...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,226,Wuhan,1,369,214,204,2,LE PEN,Marine,19,2
69238,ZZ,227,Yaounde,1,1517,729,690,2,LE PEN,Marine,109,2
69239,ZZ,228,Zagreb,1,656,245,235,2,LE PEN,Marine,53,2
69240,ZZ,229,Zurich,1,21488,11247,10888,2,LE PEN,Marine,1112,2
69241,ZZ,231,Taipeh,1,1212,639,619,2,LE PEN,Marine,87,2

In [46]:
data_2017 = pd.concat([data_2017_round_1, data_2017_round_2], axis=0).reset_index(drop=True)
data_2017

,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Nombre de voix du candidat,N° tour
0,1,1,L'Abergement-Clémenciat,1.0,598,506,495,1,DUPONT-AIGNAN,Nicolas,34,1
1,1,2,L'Abergement-de-Varey,1.0,209,184,176,1,DUPONT-AIGNAN,Nicolas,6,1
2,1,4,Ambérieu-en-Bugey,1.0,1116,883,860,1,DUPONT-AIGNAN,Nicolas,58,1
3,1,4,Ambérieu-en-Bugey,2.0,1128,872,850,1,DUPONT-AIGNAN,Nicolas,42,1
4,1,4,Ambérieu-en-Bugey,3.0,1116,889,874,1,DUPONT-AIGNAN,Nicolas,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...
900141,ZZ,226,Wuhan,1,369,214,204,2,LE PEN,Marine,19,2
900142,ZZ,227,Yaounde,1,1517,729,690,2,LE PEN,Marine,109,2
900143,ZZ,228,Zagreb,1,656,245,235,2,LE PEN,Marine,53,2
900144,ZZ,229,Zurich,1,21488,11247,10888,2,LE PEN,Marine,1112,2
900145,ZZ,231,Taipeh,1,1212,639,619,2,LE PEN,Marine,87,2

In [47]:
data_2017.columns

Index(['Code département', 'Code commune', 'Nom de la commune',
       'N° de bureau de vote', 'Inscrits ', 'Votants ', 'Exprimés',
       'N° de dépôt du candidat', 'Nom du candidat', 'Prénom du candidat',
       'Nombre de voix du candidat', 'N° tour'],
      dtype='object')

In [48]:
data_2012.columns

Index(['N° tour', 'Code département', 'Code commune', 'Nom de la commune',
       'N° de bureau de vote', 'Inscrits ', 'Votants ', 'Exprimés',
       'N° de dépôt du candidat', 'Nom du candidat', 'Prénom du candidat',
       'Nombre de voix du candidat'],
      dtype='object')

In [49]:
data_2012.dtypes

N° tour                        int64
Code département              object
Code commune                   int64
Nom de la commune             object
N° de bureau de vote          object
Inscrits                       int64
Votants                        int64
Exprimés                       int64
N° de dépôt du candidat        int64
Nom du candidat               object
Prénom du candidat            object
Nombre de voix du candidat     int64
dtype: object

In [50]:
data_2017.dtypes

Code département              object
Code commune                   int64
Nom de la commune             object
N° de bureau de vote          object
Inscrits                       int64
Votants                        int64
Exprimés                       int64
N° de dépôt du candidat        int64
Nom du candidat               object
Prénom du candidat            object
Nombre de voix du candidat     int64
N° tour                        int64
dtype: object

# Add election year to each data set

In [51]:
data_2002['election_year'] = 2002
data_2007['election_year'] = 2007
data_2012['election_year'] = 2012
data_2017['election_year'] = 2017

# Concatenate the whole data in one DataFrame and further clean the data

### Data concatenation

In [52]:
data_full = pd.concat([data_2002, data_2007, data_2012, data_2017], axis=0).reset_index(drop=True)
data_full

,N° tour,Code département,Code commune,Nom de la commune,N° de bureau de vote,Inscrits,Votants,Exprimés,N° de dépôt du candidat,Nom du candidat,Prénom du candidat,Nombre de voix du candidat,election_year
0,1,1,1,L'Abergement-Clémenciat,1,563,442,427,1,MEGRET,BRUNO,14,2002
1,1,1,1,L'Abergement-Clémenciat,1,563,442,427,2,LEPAGE,CORINNE,9,2002
2,1,1,1,L'Abergement-Clémenciat,1,563,442,427,3,GLUCKSTEIN,DANIEL,1,2002
3,1,1,1,L'Abergement-Clémenciat,1,563,442,427,4,BAYROU,FRANCOIS,30,2002
4,1,1,1,L'Abergement-Clémenciat,1,563,442,427,5,CHIRAC,JACQUES,66,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3788501,2,ZZ,226,Wuhan,1,369,214,204,2,LE PEN,Marine,19,2017
3788502,2,ZZ,227,Yaounde,1,1517,729,690,2,LE PEN,Marine,109,2017
3788503,2,ZZ,228,Zagreb,1,656,245,235,2,LE PEN,Marine,53,2017
3788504,2,ZZ,229,Zurich,1,21488,11247,10888,2,LE PEN,Marine,1112,2017
3788505,2,ZZ,231,Taipeh,1,1212,639,619,2,LE PEN,Marine,87,2017

### Column Names translation to English

In [53]:
data_full.columns

Index(['N° tour', 'Code département', 'Code commune', 'Nom de la commune',
       'N° de bureau de vote', 'Inscrits ', 'Votants ', 'Exprimés',
       'N° de dépôt du candidat', 'Nom du candidat', 'Prénom du candidat',
       'Nombre de voix du candidat', 'election_year'],
      dtype='object')

In [54]:
data_full = data_full.rename(columns = { 'N° tour':'election_round',
                                        'Code département':'department_code',
                                        'Code commune':'city_code',
                                        'Nom de la commune':'city_name',
                                        'N° de bureau de vote':'polling_station',
                                        'Inscrits ':'total_registered_voters',
                                        'Votants ':'total_votes',
                                        'Exprimés':'valid_votes',
                                        'N° de dépôt du candidat':'candidate_number',
                                        'Nom du candidat':'candidate_name',
                                        'Prénom du candidat':'candidate_first_name',
                                        'Nombre de voix du candidat':'votes_for_candidate',
                                        'Election_Year':'Election_Year'})

In [55]:
data_full

,election_round,department_code,city_code,city_name,polling_station,total_registered_voters,total_votes,valid_votes,candidate_number,candidate_name,candidate_first_name,votes_for_candidate,election_year
0,1,1,1,L'Abergement-Clémenciat,1,563,442,427,1,MEGRET,BRUNO,14,2002
1,1,1,1,L'Abergement-Clémenciat,1,563,442,427,2,LEPAGE,CORINNE,9,2002
2,1,1,1,L'Abergement-Clémenciat,1,563,442,427,3,GLUCKSTEIN,DANIEL,1,2002
3,1,1,1,L'Abergement-Clémenciat,1,563,442,427,4,BAYROU,FRANCOIS,30,2002
4,1,1,1,L'Abergement-Clémenciat,1,563,442,427,5,CHIRAC,JACQUES,66,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3788501,2,ZZ,226,Wuhan,1,369,214,204,2,LE PEN,Marine,19,2017
3788502,2,ZZ,227,Yaounde,1,1517,729,690,2,LE PEN,Marine,109,2017
3788503,2,ZZ,228,Zagreb,1,656,245,235,2,LE PEN,Marine,53,2017
3788504,2,ZZ,229,Zurich,1,21488,11247,10888,2,LE PEN,Marine,1112,2017
3788505,2,ZZ,231,Taipeh,1,1212,639,619,2,LE PEN,Marine,87,2017

### Candidates cleaning :
- concatenate first and last names in one column
- and remove candidate number (not useful)
- remove special characters

In [56]:
data_full['candidate'] = data_full['candidate_first_name'] + ' ' + data_full['candidate_name']
data_full['candidate'] = data_full['candidate'].apply(lambda x: x.upper())

In [57]:
data_full = data_full.drop(['candidate_name', 'candidate_first_name', 'candidate_number'], axis=1)

In [58]:
data_full['candidate'] = data_full['candidate'].str.replace('É', 'E')
data_full['candidate'] = data_full['candidate'].str.replace('Î', 'I')
data_full['candidate'] = data_full['candidate'].str.replace('È', 'E')
data_full['candidate'] = data_full['candidate'].str.replace('FRANCOIS', 'FRANÇOIS')

In [59]:
list(data_full['candidate'].unique())

['BRUNO MEGRET',
 'CORINNE LEPAGE',
 'DANIEL GLUCKSTEIN',
 'FRANÇOIS BAYROU',
 'JACQUES CHIRAC',
 'JEAN-MARIE LE PEN',
 'CHRISTIANE TAUBIRA',
 'JEAN SAINT-JOSSE',
 'NOEL MAMERE',
 'LIONEL JOSPIN',
 'CHRISTINE BOUTIN',
 'ROBERT HUE',
 'JEAN-PIERRE CHEVENEMENT',
 'ALAIN MADELIN',
 'ARLETTE LAGUILLER',
 'OLIVIER BESANCENOT',
 'JOSE BOVE',
 'MARIE-GEORGE BUFFET',
 'GERARD SCHIVARDI',
 'PHILIPPE DE VILLIERS',
 'DOMINIQUE VOYNET',
 'SEGOLENE ROYAL',
 'NICOLAS SARKOZY',
 'FREDERIC NIHOUS',
 'EVA JOLY',
 'MARINE LE PEN',
 'JEAN-LUC MELENCHON',
 'FRANÇOIS HOLLANDE',
 'NICOLAS DUPONT-AIGNAN',
 'JACQUES CHEMINADE',
 'NATHALIE ARTHAUD',
 'PHILIPPE POUTOU',
 'EMMANUEL MACRON',
 'BENOIT HAMON',
 'JEAN LASSALLE',
 'FRANÇOIS ASSELINEAU',
 'FRANÇOIS FILLON']

In [60]:
data_full

,election_round,department_code,city_code,city_name,polling_station,total_registered_voters,total_votes,valid_votes,votes_for_candidate,election_year,candidate
0,1,1,1,L'Abergement-Clémenciat,1,563,442,427,14,2002,BRUNO MEGRET
1,1,1,1,L'Abergement-Clémenciat,1,563,442,427,9,2002,CORINNE LEPAGE
2,1,1,1,L'Abergement-Clémenciat,1,563,442,427,1,2002,DANIEL GLUCKSTEIN
3,1,1,1,L'Abergement-Clémenciat,1,563,442,427,30,2002,FRANÇOIS BAYROU
4,1,1,1,L'Abergement-Clémenciat,1,563,442,427,66,2002,JACQUES CHIRAC
...,...,...,...,...,...,...,...,...,...,...,...
3788501,2,ZZ,226,Wuhan,1,369,214,204,19,2017,MARINE LE PEN
3788502,2,ZZ,227,Yaounde,1,1517,729,690,109,2017,MARINE LE PEN
3788503,2,ZZ,228,Zagreb,1,656,245,235,53,2017,MARINE LE PEN
3788504,2,ZZ,229,Zurich,1,21488,11247,10888,1112,2017,MARINE LE PEN
3788505,2,ZZ,231,Taipeh,1,1212,639,619,87,2017,MARINE LE PEN

In [61]:
data_full.dtypes

election_round              int64
department_code            object
city_code                   int64
city_name                  object
polling_station            object
total_registered_voters    object
total_votes                 int64
valid_votes                 int64
votes_for_candidate         int64
election_year               int64
candidate                  object
dtype: object

In [62]:
data_full = data_full[['election_year',
                       'election_round',
                       'department_code',
                       'city_code',
                       'city_name',
                       'polling_station',
                       'total_registered_voters',
                       'total_votes',
                       'valid_votes',
                       'candidate',
                       'votes_for_candidate'
                      ]]
data_full

,election_year,election_round,department_code,city_code,city_name,polling_station,total_registered_voters,total_votes,valid_votes,candidate,votes_for_candidate
0,2002,1,1,1,L'Abergement-Clémenciat,1,563,442,427,BRUNO MEGRET,14
1,2002,1,1,1,L'Abergement-Clémenciat,1,563,442,427,CORINNE LEPAGE,9
2,2002,1,1,1,L'Abergement-Clémenciat,1,563,442,427,DANIEL GLUCKSTEIN,1
3,2002,1,1,1,L'Abergement-Clémenciat,1,563,442,427,FRANÇOIS BAYROU,30
4,2002,1,1,1,L'Abergement-Clémenciat,1,563,442,427,JACQUES CHIRAC,66
...,...,...,...,...,...,...,...,...,...,...,...
3788501,2017,2,ZZ,226,Wuhan,1,369,214,204,MARINE LE PEN,19
3788502,2017,2,ZZ,227,Yaounde,1,1517,729,690,MARINE LE PEN,109
3788503,2017,2,ZZ,228,Zagreb,1,656,245,235,MARINE LE PEN,53
3788504,2017,2,ZZ,229,Zurich,1,21488,11247,10888,MARINE LE PEN,1112
3788505,2017,2,ZZ,231,Taipeh,1,1212,639,619,MARINE LE PEN,87

In [63]:
data_full['total_registered_voters'] = data_full['total_registered_voters'].apply(MakeInt)
data_full.dtypes

election_year               int64
election_round              int64
department_code            object
city_code                   int64
city_name                  object
polling_station            object
total_registered_voters     int64
total_votes                 int64
valid_votes                 int64
candidate                  object
votes_for_candidate         int64
dtype: object

In [64]:
list(data_full['polling_station'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 251,
 252,
 253,
 254,
 255,
 281,
 301,
 302,
 303,
 351,
 352,
 353,
 354,
 356,
 357,
 358,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 401,
 402,
 404,
 406,
 407,
 408,
 409,
 410,
 421,
 422,
 424,
 425,
 426,
 427,
 428,
 441,
 442,
 443,
 451,
 452,
 453,
 454,
 455,
 456,
 471,
 473,
 474,
 475,
 491,
 501,
 502,
 504,
 505,
 506,
 508,
 510,
 511,
 512,
 513,
 514,
 515,
 551,
 552,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 563,
 601,
 603,
 604,
 605,
 607,
 608,
 609,
 611,
 613,
 621,
 622,
 625,
 641,
 651,
 652,
 661,
 662,
 663,
 664,
 671,
 672,
 673,
 674,
 701,
 702,
 703,
 721,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 831,
 832,
 833,
 834,
 835,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 901,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 934,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 976,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1021,
 1041,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1075,
 1076,
 1077,
 1078,
 1079,
 1101,
 1102,
 1103,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1174,
 1175,
 1176,
 1177,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1221,
 1241,
 1242,
 1243,
 1244,
 1245,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1331,
 1332,
 1333,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 1401,
 1402,
 1404,
 1405,
 1407,
 1408,
 1409,
 1410,
 1411,
 1414,
 1415,
 1416,
 1417,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1501,
 1503,
 1504,
 1505,
 1507,
 1508,
 1531,
 1532,
 1533,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1571,
 1572,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1601,
 1602,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 '01.1',
 '02.1',
 '02.2',
 '03.1',
 '03.2',
 '03.3',
 '04.1',
 '04.2',
 '04.3',
 '04.4',
 '05.1',
 '05.2',
 '05.3',
 '06.1',
 '06.2',
 '07.1',
 '07.2',
 '07.3',
 '08.1',
 '09.1',
 '09.2',
 '09.3',
 '10.1',
 '10.2',
 '10.3',
 '11.1',
 '12.1',
 '13.1',
 '13.2',
 '13.3',
 '14.1',
 '14.2',
 '15.1',
 '16.1',
 '16.2',
 '16.3',
 '16.4',
 '17.1',
 '17.2',
 '17.3',
 '18.1',
 '18.2',
 '18.3',
 '19.1',
 '19.2',
 '19.3',
 '19.4',
 '20.1',
 '20.2',
 '21.1',
 '21.2',
 '21.3',
 '22.1',
 '22.2',
 '22.3',
 '23.1',
 '23.2',
 '23.3',
 304,
 305,
 306,
 307,
 308,
 403,
 405,
 411,
 412,
 413,
 503,
 507,
 509,
 602,
 606,
 '0A01',
 '0A02',
 '0A03',
 '0A11',
 '0A21',
 '0B11',
 '0C11',
 '0C21',
 '0D11',
 '0D21',
 '0E11',
 '0E21',
 '0E31',
 '0E41',
 '0F11',
 '0F21',
 '0F31',
 '0G11',
 '0G21',
 '0H11',
 '0H21',
 '001A',
 '001B',
 '002A',
 '002B',
 310,
 311,
 '049A',
 '056A',
 '108A',
 '113A',
 '134A',
 '138A',
 '174A',
 '191A',
 '193A',
 '195A',
 '200A',
 '201A',
 '203A',
 '221A',
 271,
 272,
 273,
 274,
 275,
 276,
 282,
 312,
 313,
 314,
 321,
 322,
 331,
 332,
 333,
 334,
 341,
 342,
 343,
 423,
 521,
 522,
 531,
 532,
 533,
 631,
 632,
 642,
 653,
 654,
 711,
 712,
 722,
 723,
 724,
 725,
 726,
 731,
 732,
 733,
 309,
 315,
 316,
 317,
 318,
 319,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 516,
 517,
 518,
 610,
 612,
 614,
 615,
 616,
 617,
 618,
 619,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 713,
 714,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 '0N07',
 '0N08',
 '0N15',
 '0N16',
 '0S01',
 '0S02',
 '0S03',
 '0S04',
 '0S05',
 '0S06',
 '0S09',
 '0S10',
 '0S11',
 '0S12',
 '0S13',
 '0S14',
 '0S18',
 '0S19',
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 620,
 623,
 624,
 626,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 270,
 277,
 278,
 279,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 1009,
 1010,
 1011,
 1012,
 1013,
 320,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 335,
 336,
 337,
 338,
 339,
 340,
 344,
 345,
 346,
 519,
 520,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 627,
 628,
 629,
 630,
 633,
 634,
 715,
 716,
 717,
 718,
 719,
 720,
 727,
 728,
 729,
 730,
 827,
 828,
 829,
 830,
 836,
 837,
 838,
 839,
 840,
 ...]

In [65]:
data_full.to_csv('data_full_and_cleaned.csv', index=False , encoding='ANSI')

# Export Department Dictionnary

In [66]:
dpt_dict

{1: 'Ain',
 2: 'Aisne',
 3: 'Allier',
 4: 'Alpes-de-Haute-Provence',
 5: 'Hautes-Alpes',
 6: 'Alpes-Maritimes',
 7: 'Ardèche',
 8: 'Ardennes',
 9: 'Ariège',
 10: 'Aube',
 11: 'Aude',
 12: 'Aveyron',
 13: 'Bouches-du-Rhône',
 14: 'Calvados',
 15: 'Cantal',
 16: 'Charente',
 17: 'Charente-Maritime',
 18: 'Cher',
 19: 'Corrèze',
 '2A': 'Corse-du-Sud',
 '2B': 'Haute-Corse',
 21: "Côte-d'Or",
 22: "Côtes-d'Armor",
 23: 'Creuse',
 24: 'Dordogne',
 25: 'Doubs',
 26: 'Drôme',
 27: 'Eure',
 28: 'Eure-et-Loir',
 29: 'Finistère',
 30: 'Gard',
 31: 'Haute-Garonne',
 32: 'Gers',
 33: 'Gironde',
 34: 'Hérault',
 35: 'Ille-et-Vilaine',
 36: 'Indre',
 37: 'Indre-et-Loire',
 38: 'Isère',
 39: 'Jura',
 40: 'Landes',
 41: 'Loir-et-Cher',
 42: 'Loire',
 43: 'Haute-Loire',
 44: 'Loire-Atlantique',
 45: 'Loiret',
 46: 'Lot',
 47: 'Lot-et-Garonne',
 48: 'Lozère',
 49: 'Maine-et-Loire',
 50: 'Manche',
 51: 'Marne',
 52: 'Haute-Marne',
 53: 'Mayenne',
 54: 'Meurthe-et-Moselle',
 55: 'Meuse',
 56: 'Morbihan',
 57: 'Moselle',
 58: 'Nièvre',
 59: 'Nord',
 60: 'Oise',
 61: 'Orne',
 62: 'Pas-de-Calais',
 63: 'Puy-de-Dôme',
 64: 'Pyrénées-Atlantiques',
 65: 'Hautes-Pyrénées',
 66: 'Pyrénées-Orientales',
 67: 'Bas-Rhin',
 68: 'Haut-Rhin',
 69: 'Rhône',
 70: 'Haute-Saône',
 71: 'Saône-et-Loire',
 72: 'Sarthe',
 73: 'Savoie',
 74: 'Haute-Savoie',
 75: 'Paris',
 76: 'Seine-Maritime',
 77: 'Seine-et-Marne',
 78: 'Yvelines',
 79: 'Deux-Sèvres',
 80: 'Somme',
 81: 'Tarn',
 82: 'Tarn-et-Garonne',
 83: 'Var',
 84: 'Vaucluse',
 85: 'Vendée',
 86: 'Vienne',
 87: 'Haute-Vienne',
 88: 'Vosges',
 89: 'Yonne',
 90: 'Territoire de Belfort',
 91: 'Essonne',
 92: 'Hauts-de-Seine',
 93: 'Seine-Saint-Denis',
 94: 'Val-de-Marne',
 95: "Val-d'Oise",
 'ZA': 'Guadeloupe',
 'ZB': 'Martinique',
 'ZC': 'Guyane',
 'ZD': 'La Réunion',
 'ZM': 'Mayotte',
 'ZN': 'Nouvelle-Calédonie',
 'ZP': 'Polynésie française',
 'ZS': 'Saint-Pierre-et-Miquelon',
 'ZW': 'Wallis et Futuna',
 'ZX': 'Saint-Martin/Saint-Barthélemy',
 'ZZ': 'Français établis hors de France'}

In [67]:
dpt_items = dpt_dict.items()
dpt_list = list(dpt_items)

dpt_df = pd.DataFrame(dpt_list)
dpt_df.columns = ['department_code', 'department_name']
dpt_df

    department_code                  department_name
0                 1                              Ain
1                 2                            Aisne
2                 3                           Allier
3                 4          Alpes-de-Haute-Provence
4                 5                     Hautes-Alpes
..              ...                              ...
102              ZP              Polynésie française
103              ZS         Saint-Pierre-et-Miquelon
104              ZW                 Wallis et Futuna
105              ZX    Saint-Martin/Saint-Barthélemy
106              ZZ  Français établis hors de France

[107 rows x 2 columns]

In [68]:
dpt_df.to_csv('department_lookup.csv', index=False)

# Group Data at Polling Station level

In [69]:
data_per_station = data_full.groupby(by=['election_year','election_round','department_code', 'city_code', 'polling_station'], as_index=False).agg({'total_registered_voters': np.mean,'total_votes':np.mean,'valid_votes':np.mean})
data_per_station

,election_year,election_round,department_code,city_code,polling_station,total_registered_voters,total_votes,valid_votes
0,2002,1,1,1,1,563.0,442.0,427.0
1,2002,1,1,2,1,196.0,151.0,147.0
2,2002,1,1,4,1,1388.0,957.0,933.0
3,2002,1,1,4,2,1508.0,1037.0,1004.0
4,2002,1,1,4,3,1325.0,870.0,850.0
...,...,...,...,...,...,...,...,...
533859,2017,2,ZZ,226,1,369.0,214.0,204.0
533860,2017,2,ZZ,227,1,1517.0,729.0,690.0
533861,2017,2,ZZ,228,1,656.0,245.0,235.0
533862,2017,2,ZZ,229,1,21488.0,11247.0,10888.0
533863,2017,2,ZZ,231,1,1212.0,639.0,619.0

In [70]:
data_per_station['blank_votes'] = data_per_station['total_votes'] - data_per_station['valid_votes']
data_per_station['abstained_votes'] = data_per_station['total_registered_voters'] - data_per_station['total_votes']
data_per_station

,election_year,election_round,department_code,city_code,polling_station,total_registered_voters,total_votes,valid_votes,blank_votes,abstained_votes
0,2002,1,1,1,1,563.0,442.0,427.0,15.0,121.0
1,2002,1,1,2,1,196.0,151.0,147.0,4.0,45.0
2,2002,1,1,4,1,1388.0,957.0,933.0,24.0,431.0
3,2002,1,1,4,2,1508.0,1037.0,1004.0,33.0,471.0
4,2002,1,1,4,3,1325.0,870.0,850.0,20.0,455.0
...,...,...,...,...,...,...,...,...,...,...
533859,2017,2,ZZ,226,1,369.0,214.0,204.0,10.0,155.0
533860,2017,2,ZZ,227,1,1517.0,729.0,690.0,39.0,788.0
533861,2017,2,ZZ,228,1,656.0,245.0,235.0,10.0,411.0
533862,2017,2,ZZ,229,1,21488.0,11247.0,10888.0,359.0,10241.0
533863,2017,2,ZZ,231,1,1212.0,639.0,619.0,20.0,573.0

In [71]:
for col in ['total_registered_voters', 'total_votes', 'valid_votes', 'blank_votes', 'abstained_votes']:
    data_per_station[col] = data_per_station[col].apply(MakeInt)
    
    
data_per_station

,election_year,election_round,department_code,city_code,polling_station,total_registered_voters,total_votes,valid_votes,blank_votes,abstained_votes
0,2002,1,1,1,1,563,442,427,15,121
1,2002,1,1,2,1,196,151,147,4,45
2,2002,1,1,4,1,1388,957,933,24,431
3,2002,1,1,4,2,1508,1037,1004,33,471
4,2002,1,1,4,3,1325,870,850,20,455
...,...,...,...,...,...,...,...,...,...,...
533859,2017,2,ZZ,226,1,369,214,204,10,155
533860,2017,2,ZZ,227,1,1517,729,690,39,788
533861,2017,2,ZZ,228,1,656,245,235,10,411
533862,2017,2,ZZ,229,1,21488,11247,10888,359,10241
533863,2017,2,ZZ,231,1,1212,639,619,20,573

In [72]:
data_per_station.to_csv('polling_station_results.csv')

In [73]:
candidate_list = list(data_full['candidate'].unique())
candidate_list.sort()
candidate_list

['ALAIN MADELIN',
 'ARLETTE LAGUILLER',
 'BENOIT HAMON',
 'BRUNO MEGRET',
 'CHRISTIANE TAUBIRA',
 'CHRISTINE BOUTIN',
 'CORINNE LEPAGE',
 'DANIEL GLUCKSTEIN',
 'DOMINIQUE VOYNET',
 'EMMANUEL MACRON',
 'EVA JOLY',
 'FRANÇOIS ASSELINEAU',
 'FRANÇOIS BAYROU',
 'FRANÇOIS FILLON',
 'FRANÇOIS HOLLANDE',
 'FREDERIC NIHOUS',
 'GERARD SCHIVARDI',
 'JACQUES CHEMINADE',
 'JACQUES CHIRAC',
 'JEAN LASSALLE',
 'JEAN SAINT-JOSSE',
 'JEAN-LUC MELENCHON',
 'JEAN-MARIE LE PEN',
 'JEAN-PIERRE CHEVENEMENT',
 'JOSE BOVE',
 'LIONEL JOSPIN',
 'MARIE-GEORGE BUFFET',
 'MARINE LE PEN',
 'NATHALIE ARTHAUD',
 'NICOLAS DUPONT-AIGNAN',
 'NICOLAS SARKOZY',
 'NOEL MAMERE',
 'OLIVIER BESANCENOT',
 'PHILIPPE DE VILLIERS',
 'PHILIPPE POUTOU',
 'ROBERT HUE',
 'SEGOLENE ROYAL']

In [74]:
# PIVOT TABLE
# The syntax is 
# in the index argument you put the columns you want to keep
# in the columns argument you put the columns whose values you want to make into columns
pivot = data_full.pivot(index=['election_year', 'election_round', 'department_code', 'city_code',
       'polling_station', 'total_registered_voters', 'total_votes',
       'valid_votes', 'city_name'],columns='candidate').reset_index()
pivot.head()

          election_year election_round department_code city_code  \
candidate
0                  2002              1               1         1
1                  2002              1               1         2
2                  2002              1               1         4
3                  2002              1               1         4
4                  2002              1               1         4

          polling_station total_registered_voters total_votes valid_votes  \
candidate
0                       1                     563         442         427
1                       1                     196         151         147
2                       1                    1388         957         933
3                       2                    1508        1037        1004
4                       3                    1325         870         850

                         city_name votes_for_candidate                    \
candidate                                ALAIN MADELIN ARLETTE LAGUILLER
0          L'Abergement-Clémenciat                19.0              19.0
1            L'Abergement-de-Varey                 0.0               4.0
2                Ambérieu-en-Bugey                45.0              38.0
3                Ambérieu-en-Bugey                45.0              49.0
4                Ambérieu-en-Bugey                32.0              54.0

                                                                         \
candidate BENOIT HAMON BRUNO MEGRET CHRISTIANE TAUBIRA CHRISTINE BOUTIN
0                  NaN         14.0               12.0              6.0
1                  NaN          6.0                6.0              0.0
2                  NaN         25.0               12.0              8.0
3                  NaN         42.0               16.0              7.0
4                  NaN         35.0               10.0              4.0

                                                                             \
candidate CORINNE LEPAGE DANIEL GLUCKSTEIN DOMINIQUE VOYNET EMMANUEL MACRON
0                    9.0               1.0              NaN             NaN
1                    2.0               2.0              NaN             NaN
2                   31.0               3.0              NaN             NaN
3                   25.0               2.0              NaN             NaN
4                   19.0               1.0              NaN             NaN

                    ...                                                 \
candidate EVA JOLY  ... JACQUES CHEMINADE JACQUES CHIRAC JEAN LASSALLE
0              NaN  ...               NaN           66.0           NaN
1              NaN  ...               NaN           15.0           NaN
2              NaN  ...               NaN          136.0           NaN
3              NaN  ...               NaN          154.0           NaN
4              NaN  ...               NaN          109.0           NaN

                                                                 \
candidate JEAN SAINT-JOSSE JEAN-LUC MELENCHON JEAN-MARIE LE PEN
0                     28.0                NaN              82.0
1                     13.0                NaN              41.0
2                     19.0                NaN             197.0
3                     28.0                NaN             192.0
4                     17.0                NaN             187.0

                                                                               \
candidate JEAN-PIERRE CHEVENEMENT JOSE BOVE LIONEL JOSPIN MARIE-GEORGE BUFFET
0                            31.0       NaN          60.0                 NaN
1                             9.0       NaN          16.0                 NaN
2                            64.0       NaN         155.0                 NaN
3                            85.0       NaN         155.0                 NaN
4                            71.0       NaN         136.0                 NaN

                                                                \
candidate MARINE LE PEN NATHALIE ARTHAUD NICOLAS DUPONT-AIGNAN
0                   NaN              NaN                   NaN
1                   NaN              NaN                   NaN
2                   NaN              NaN                   NaN
3                   NaN              NaN                   NaN
4                   NaN              NaN                   NaN

                                                                               \
candidate NICOLAS SARKOZY NOEL MAMERE OLIVIER BESANCENOT PHILIPPE DE VILLIERS
0                     NaN        23.0               19.0                  NaN
1                     NaN        13.0                7.0                  NaN
2                     NaN        44.0               43.0                  NaN
3                     NaN        54.0               43.0                  NaN
4                     NaN        41.0               35.0                  NaN


candidate PHILIPPE POUTOU ROBERT HUE SEGOLENE ROYAL
0                     NaN        8.0            NaN
1                     NaN        2.0            NaN
2                     NaN       41.0            NaN
3                     NaN       33.0            NaN
4                     NaN       50.0            NaN

[5 rows x 46 columns]

In [75]:
pivot = pivot.fillna(0)
pivot

          election_year election_round department_code city_code  \
candidate
0                  2002              1               1         1
1                  2002              1               1         2
2                  2002              1               1         4
3                  2002              1               1         4
4                  2002              1               1         4
...                 ...            ...             ...       ...
533859             2017              2              ZZ       226
533860             2017              2              ZZ       227
533861             2017              2              ZZ       228
533862             2017              2              ZZ       229
533863             2017              2              ZZ       231

          polling_station total_registered_voters total_votes valid_votes  \
candidate
0                       1                     563         442         427
1                       1                     196         151         147
2                       1                    1388         957         933
3                       2                    1508        1037        1004
4                       3                    1325         870         850
...                   ...                     ...         ...         ...
533859                  1                     369         214         204
533860                  1                    1517         729         690
533861                  1                     656         245         235
533862                  1                   21488       11247       10888
533863                  1                    1212         639         619

                         city_name votes_for_candidate                    \
candidate                                ALAIN MADELIN ARLETTE LAGUILLER
0          L'Abergement-Clémenciat                19.0              19.0
1            L'Abergement-de-Varey                 0.0               4.0
2                Ambérieu-en-Bugey                45.0              38.0
3                Ambérieu-en-Bugey                45.0              49.0
4                Ambérieu-en-Bugey                32.0              54.0
...                            ...                 ...               ...
533859                       Wuhan                 0.0               0.0
533860                     Yaounde                 0.0               0.0
533861                      Zagreb                 0.0               0.0
533862                      Zurich                 0.0               0.0
533863                      Taipeh                 0.0               0.0

                                                                         \
candidate BENOIT HAMON BRUNO MEGRET CHRISTIANE TAUBIRA CHRISTINE BOUTIN
0                  0.0         14.0               12.0              6.0
1                  0.0          6.0                6.0              0.0
2                  0.0         25.0               12.0              8.0
3                  0.0         42.0               16.0              7.0
4                  0.0         35.0               10.0              4.0
...                ...          ...                ...              ...
533859             0.0          0.0                0.0              0.0
533860             0.0          0.0                0.0              0.0
533861             0.0          0.0                0.0              0.0
533862             0.0          0.0                0.0              0.0
533863             0.0          0.0                0.0              0.0

                                                                             \
candidate CORINNE LEPAGE DANIEL GLUCKSTEIN DOMINIQUE VOYNET EMMANUEL MACRON
0                    9.0               1.0              0.0             0.0
1                    2.0               2.0              0.0             0.0
2                   31.0               3.0              0.0             0.0
3                   25.0               2.0              0.0             0.0
4                   19.0               1.0              0.0             0.0
...                  ...               ...              ...             ...
533859               0.0               0.0              0.0           185.0
533860               0.0               0.0              0.0           581.0
533861               0.0               0.0              0.0           182.0
533862               0.0               0.0              0.0          9776.0
533863               0.0               0.0              0.0           532.0

                    ...                                                 \
candidate EVA JOLY  ... JACQUES CHEMINADE JACQUES CHIRAC JEAN LASSALLE
0              0.0  ...               0.0           66.0           0.0
1              0.0  ...               0.0           15.0           0.0
2              0.0  ...               0.0          136.0           0.0
3              0.0  ...               0.0          154.0           0.0
4              0.0  ...               0.0          109.0           0.0
...            ...  ...               ...            ...           ...
533859         0.0  ...               0.0            0.0           0.0
533860         0.0  ...               0.0            0.0           0.0
533861         0.0  ...               0.0            0.0           0.0
533862         0.0  ...               0.0            0.0           0.0
533863         0.0  ...               0.0            0.0           0.0

                                                                 \
candidate JEAN SAINT-JOSSE JEAN-LUC MELENCHON JEAN-MARIE LE PEN
0                     28.0                0.0              82.0
1                     13.0                0.0              41.0
2                     19.0                0.0             197.0
3                     28.0                0.0             192.0
4                     17.0                0.0             187.0
...                    ...                ...               ...
533859                 0.0                0.0               0.0
533860                 0.0                0.0               0.0
533861                 0.0                0.0               0.0
533862                 0.0                0.0               0.0
533863                 0.0                0.0               0.0

                                                                               \
candidate JEAN-PIERRE CHEVENEMENT JOSE BOVE LIONEL JOSPIN MARIE-GEORGE BUFFET
0                            31.0       0.0          60.0                 0.0
1                             9.0       0.0          16.0                 0.0
2                            64.0       0.0         155.0                 0.0
3                            85.0       0.0         155.0                 0.0
4                            71.0       0.0         136.0                 0.0
...                           ...       ...           ...                 ...
533859                        0.0       0.0           0.0                 0.0
533860                        0.0       0.0           0.0                 0.0
533861                        0.0       0.0           0.0                 0.0
533862                        0.0       0.0           0.0                 0.0
533863                        0.0       0.0           0.0                 0.0

                                                                \
candidate MARINE LE PEN NATHALIE ARTHAUD NICOLAS DUPONT-AIGNAN
0                   0.0              0.0                   0.0
1                   0.0              0.0                   0.0
2                   0.0              0.0                   0.0
3                   0.0              0.0                   0.0
4                   0.0              0.0                   0.0
...                 ...              ...                   ...
533859             19.0              0.0                   0.0
533860            109.0              0.0                   0.0
533861             53.0              0.0                   0.0
533862           1112.0              0.0                   0.0
533863             87.0              0.0                   0.0

                                                                               \
candidate NICOLAS SARKOZY NOEL MAMERE OLIVIER BESANCENOT PHILIPPE DE VILLIERS
0                     0.0        23.0               19.0                  0.0
1                     0.0        13.0                7.0                  0.0
2                     0.0        44.0               43.0                  0.0
3                     0.0        54.0               43.0                  0.0
4                     0.0        41.0               35.0                  0.0
...                   ...         ...                ...                  ...
533859                0.0         0.0                0.0                  0.0
533860                0.0         0.0                0.0                  0.0
533861                0.0         0.0                0.0                  0.0
533862                0.0         0.0                0.0                  0.0
533863                0.0         0.0                0.0                  0.0


candidate PHILIPPE POUTOU ROBERT HUE SEGOLENE ROYAL
0                     0.0        8.0            0.0
1                     0.0        2.0            0.0
2                     0.0       41.0            0.0
3                     0.0       33.0            0.0
4                     0.0       50.0            0.0
...                   ...        ...            ...
533859                0.0        0.0            0.0
533860                0.0        0.0            0.0
533861                0.0        0.0            0.0
533862                0.0        0.0            0.0
533863                0.0        0.0            0.0

[533864 rows x 46 columns]

In [76]:
pivot.to_csv('data_pivoted.csv', index=False)

In [77]:
# Winner scores